body{
margin: 10px;
border-style: solid;
border-color:red;
border-width: 10px;
margin: 0px;
background-color:black;    
}
h1{
color:blue;    
}
h2{
color:white;    
}
main¨{
position: static;
top: 150px    
}
article{
margin: 10px;
position: static;
top: 0px;
left: 0px;
background-color:royalblue;
color:white;
}